/*! {{ name }} v{{ version }} */

// Import grid functions, mixins and settings.
@import "functions";
@import "mixins";
@import "variables";

.#{$grid-classes-prefix}container {
    @include grid-outer-margin;

    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @if $grid-max-width {
        max-width: $grid-max-width;

        &.-no-limit {
            max-width: none;
        }
    }

    &.-no-outer {
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
    }
}

.#{$grid-classes-prefix}row {
    @include grid-gutter-width;

    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;

    &.-reverse {
        flex-direction: row-reverse;
    }

    > .column {
        box-sizing: border-box;
        flex: 0 0 auto;
        max-width: 100%;

        &.-reverse {
            flex-direction: column-reverse;
        }
    }
}

@each $name, $size in $grid-breakpoints {
    @if $size {
        @media (min-width: $size) {
            @include grid-breakpoint($name, $size)
        }
    } @else {
        @include grid-breakpoint($name, $size)
    }
}
